.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
    position: relative;
    top: 10px;
    left: 300px;
}
.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    position: relative;
    top: 20px;
    left: 300px;
}
.question{
  font-size: 18px;
  color: #555;
    position: relative;
    top: 50px;
    left: 150px;
}
